.link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: $color-default-black;
  transition: color $trans-default;
  outline: none;
  position: relative;
  padding: 5px;
  margin: -5px;
  &::after {
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 8px;
    content: "";
    width: calc(100% - 2 * 5px);
    height: 1px;
    transform: scale(0);
    transform-origin: center;
    background-color: $color-default-black;
    transition: transform $trans-default;
  }
  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover {
      text-decoration: none;
      &::after {
        transform: scale(1);
      }
    }
    &:focus-visible {
      outline: none;
      text-decoration: none;
      &::after {
        transform: scale(1);
      }
    }
    &:focus {
      outline: none;
      text-decoration: none;
      &::after {
        transform: scale(1);
      }
    }
  }
}
